body {
    margin: 0;
    font-family: 'Poppins' ,sans-serif;
    background: #ffffff;
    color: #333;
}

section {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
    text-align: center;
}

header {
    background: linear-gradient(45deg, #ffcc33, #ff9f1c);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.app-logo {
    width: 80px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
}

.subtitle {
    font-size: 16px;
    opacity: 0.9;
}

.download-btn {
    display: inline-block;
    background: #fff;
    color: #ff9800;
    margin-top: 25px;
    padding: 14px 30px;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}

.download-btn:hover {
    transform: scale(1.05);
    background: #fffae6;
}

.description {
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}

.features-section {
    background: #fff7e6;
    padding: 70px 20px;
}

.features-section h2 {
    font-size: 28px;
    margin-bottom: 50px;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.feature-card {
    background: #ffffff;
    width: 230px;
    padding: 25px 15px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.icon-box {
    background: #ffe29a;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.icon-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.feature-card:hover .icon-box {
    transform: scale(1.07);
}

.feature-card h3 {
    margin: 10px 0 8px;
    font-size: 18px;
}

.feature-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.screenshots {
    margin-top: 80px;
}

.screenshots h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.screenshots-container img {
    width: 260px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.screenshots-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.20);
}